#navbar {
  display: flex;
  background-color: skyblue;
  padding: 7px;
  margin-bottom: 10px;
}
#navbar a {
  text-decoration: none;
}
#logo {
  font-weight: 700;
  font-size: 30px;
}
#logo a {
  color: red;
}
#logo a span {
  color: white;
}
#menu {
  margin-top: 10px;
  font-weight: 500;
  font-size: 18px;
}
#menu a {
  color: white;
}
